@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  width: 100%;
}

.container {
  padding-right: 300px;
  padding-left: 300px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar__company {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar__company__logo {
  width: 33.998px;
  height: 34px;
  flex-shrink: 0;
}
.navbar__company__name {
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 50px */
}
.navbar__menu {
  color: #292f36;
  text-align: center;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 25px */
  display: flex;
  flex-direction: row;
}
.navbar__menu__option {
  padding-left: 50px;
}

.introduction-section {
  position: relative;
  display: flex;
  align-items: center;
}
.introduction-section__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 60px;
}
.introduction-section__content {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 50%;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 40px;
}
.introduction-section__content__heading {
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 81.25px */
}
.introduction-section__content__text {
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}
.introduction-section__content__button {
  color: #fff;
  text-align: center;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 22.5px */
  letter-spacing: 0.36px;
  border-radius: 18px;
  background: #292f36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  display: flex;
  padding: 26px 49px 26px 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.projects-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.projects-menu__intro {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.projects-menu__intro__heading {
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 62.5px */
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 0;
}
.projects-menu__intro__text {
  color: #4d5053;
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}
.projects-menu__table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  max-width: 100%;
}
.projects-menu__table__block_img {
  max-width: 100%; /* Максимальная ширина изображения равна ширине родительского элемента */
  height: auto; /* Сохраняет пропорции изображения */
  display: block; /* Убирает нежелательное пространство под изображением */
  margin: 0 auto; /* Центрирует изображение горизонтально внутри родительского элемента */
}
.projects-menu__table__block .projects_img_1 {
  border-top-right-radius: 50px;
}
.projects-menu__table__block .projects_img_2 {
  border-top-left-radius: 50px;
}
.projects-menu__table__block .projects_img_3 {
  border-bottom-right-radius: 50px;
}
.projects-menu__table__block .projects_img_4 {
  border-bottom-left-radius: 50px;
}
.projects-menu__table__block__info {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  align-items: center;
}
.projects-menu__table__block__info_heading {
  grid-row: 1;
  grid-column: 1;
  margin-bottom: 0;
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 62.5px */
  letter-spacing: 1px;
  letter-spacing: 0.5px;
}
.projects-menu__table__block__info_section {
  grid-row: 2;
  grid-column: 1;
  margin-top: 0;
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}
.projects-menu__table__block__info .nav-button {
  grid-row: 1/span 2; /* Занимает две строки */
  grid-column: 2;
  width: 70px;
  height: 70px;
}

.statistics-block {
  display: flex;
  justify-content: center;
  gap: 70px;
  background-color: #f4f0ec;
}
.statistics-block__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statistics-block__section__data {
  width: 77px;
  color: #cda274;
  font-family: DM Serif Display;
  font-size: 85px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 106.25px */
  letter-spacing: 1.7px;
}
.statistics-block__section__type {
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}

.news {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.news__intro {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.news__intro__heading {
  color: #292f36;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 62.5px */
  letter-spacing: 1px;
}
.news__intro__text {
  color: #4d5053;
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}
.news__block {
  display: flex;
  flex-direction: row;
  gap: 21px;
}
.news__block__item {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 21px;
  border-radius: 62px;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
}
.news__block__item__img {
  max-width: 100%;
  border-radius: 62px;
}
.news__block__item__heading {
  max-width: 100%;
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 31.25px */
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}
.news__block__item__text {
  max-width: 100%;
  color: #4d5053;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.16px;
  text-transform: capitalize;
}
.news__block__item:hover {
  background: #f4f0ec;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 100px 0 100px 0;
}
footer .company-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .company-info__logo {
  width: 33.998px;
  height: 34px;
  flex-shrink: 0;
}
footer .company-info__name {
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 50px */
}
footer .company-info__text {
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 300%; /* 66px */
  letter-spacing: 0.22px;
}
footer .company-info__social-network {
  display: flex;
  gap: 50px;
  flex-direction: row;
}
footer .app-menu {
  display: flex;
  flex-direction: column;
  flex: 1;
}
footer .app-menu p {
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 300%; /* 66px */
  letter-spacing: 0.22px;
}
footer .app-menu p:first-child {
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 31.25px */
}
footer .contacts {
  display: flex;
  flex-direction: column;
  flex: 1;
}
footer .contacts p {
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 300%; /* 66px */
  letter-spacing: 0.22px;
}
footer .contacts p:first-child {
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 31.25px */
}

.intro-section__img {
  width: 100vw;
  margin-bottom: 100px;
}

.post-content__heading {
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 62.5px */
  letter-spacing: 1px;
}
.post-content__card {
  display: flex;
  padding: 22px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 62px;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
}
.post-content__card__img {
  max-width: 50%;
  height: auto;
  border-radius: 62px;
}
.post-content__card__description {
  display: flex;
  flex-direction: column;
}
.post-content__card__description__heading {
  color: #292f36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 31.25px */
  letter-spacing: 0.5px;
}
.post-content__card__description__text {
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 300%; /* 66px */
  letter-spacing: 0.22px;
}
.post-content__card__description__date {
  color: #4d5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 300%; /* 66px */
  letter-spacing: 0.22px;
  font-size: 16px;
  font-style: normal;
  line-height: 150%; /* 24px */
  letter-spacing: 0.16px;
  text-transform: capitalize;
}

.blogpost__block {
  display: flex;
  flex-direction: row;
}/*# sourceMappingURL=style.css.map */